$gold: #d29836;

.frontend-single-heading {
  margin-bottom: 50px;

  h3 {
    font-size: 30px;
    font-weight: 500;
    color: #535353;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    a {
      vertical-align: middle;
      margin-right: 20px;
    }
    span {
      vertical-align: middle;
    }
  }

  @media screen and (min-width: 992px) {
    h3 {
      display: inline-block;
      width: auto;
      margin-bottom: 0;
    }
  }
}

.coupon-badges {
  .label {
    font-size: 13px;
    background-color: #d29836;
    color: #FFF;
    width: fit-content;
    display: inline-flex;
    border-radius: 15px;
    line-height: 17px;
    i {
      font-size:15px;
      vertical-align: text-top;
      margin-right:10px;
      margin-top:1px;
    }
    span {
      vertical-align: middle;
    }
  }
  @media screen and (max-width:991px) {
    display:block;
    width:100%;
  }
}

.frontend {
  .description, .deadline {
    color:#4a4a4a;
    h3 {
      color:$gold;
    }
  }
  .btn {
    width: fit-content;
    &:hover {
      background-color: darken($gold, 15%);
    }
  }
}

.swal2-popup .swal2-styled.swal2-cancel:focus {
  box-shadow: none;
}

#prizeRequestModal {
  .modal-title {
    white-space: nowrap;
    overflow: hidden;
    max-width:100%;
    text-overflow: ellipsis;
  }
  .prize-points {
    text-align: center;
    #prizeValue {
      font-size: 60px;
      display: block;
      margin-bottom: 15px;
      line-height: 45px;
      font-weight: bold;
    }
  }

  #goBackToCards {
    display: none;
    button {
      background-color: #fafafa;
      color:#4a4a4a;
      &:hover {
        background-color: #d6d6d6;
      }
    }
  }
  .cards-container {
    min-height:255px;
  }
  .cards-wrapper {
    position: relative;

    .card-box-wrapper {
      transition: all .3s ease-in-out;
    }
    .card-action-box-wrapper {
      display:none;
      .card-action-box {
        background-color: #fafafa;
        padding:20px;
        border-radius: 7px;
        box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
        .card-info {
          margin-bottom:20px;
          i {
            font-size:26px;
          }
          #card-number {
            font-size: 18px;
            font-weight:bold;
          }
          #card-points {
            font-size: 16px;
            font-weight:bold;
          }
        }
        .form-group {
          .form-control {
            font-size: 16px;
          }
          .has-danger {
            &.excedeed::before {
              content: "Importo superiore alla disponibilit\E0  su questa card";
              top: -5px;
              left: 0;
              right: 0;
              position: absolute;
              color: #e3342f;
              font-size: 14px;
            }
            &.excedeed-prize-value::before {
              content: "Importo superiore al valore del premio";
              top: -5px;
              left: 0;
              right: 0;
              position: absolute;
              color: #e3342f;
              font-size: 14px;
            }
            &.zero::before {
              content: "L'importo deve essere maggiore di 0";
              top: -5px;
              left: 0;
              right: 0;
              position: absolute;
              color: #e3342f;
              font-size: 14px;
            }
          }
        }
        .btn {
          font-size:16px;
        }
      }
    }

  }

  .card-box {
    background-color: #fafafa;
    text-align: center;
    padding:20px;
    border-radius: 7px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
    user-select:none;

    &:hover {
      box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.2);
    }
    i {
      font-size:45px;
    }
    span {
      font-size:18px;
      display: block;
      font-weight: bold;
    }
    small {
      font-size:16px;
    }
    &.disabled {
      pointer-events: none;
      opacity:0.5;
    }
  }

  .btn-modal {
    background-color: #fafafa;
    color:#4a4a4a;
    &:hover {
      background-color: #d6d6d6;
    }
  }
}

.premi-slider {
  .swiper-wrapper {
    height:auto;
  }
  .arrows {
    width:fit-content;
    width:-moz-fit-content;
    margin:0 auto;
    span {
      background-color: #FFF;
      width:50px;
      height:50px;
      display:block;
      position:relative;
      border-radius:50%;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
      i {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        color:#999;
      }
    }
  }
}

.customer-movements {
  .pagination {
    justify-content: center;
  }
}

.frontend.show {
  .swal2-popup .swal2-styled.swal2-cancel {
    border-radius: 9999px;
  }
  .swal2-popup .swal2-content .btn-link {
    color:$gold;
    &:hover {
      color:darken($gold, 10%);
    }
  }
}