// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';


// Colors
$gold: #d29836;

.loader {
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width:100%;
  height:100%;
  z-index: 99999;
  background-color: #eee;

  .holder{
    img {
      width: 75px;
    }
  }

  &.loading {
    opacity: 1;
    visibility: visible;
  }

  $count: 10;
  $time: 2; //in seconds
  $size: 120;
  $color: $gold;

  .preloader {
    /* size */
    width: $size + px;
    height: $size + px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader $time + s infinite ease-in;
  }
  @keyframes rotatePreloader {
    0% {
      transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
  }
  .preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 6%;
    height: 6%;
    background-color: $color;
    transform: translateX(-50%);
    border-radius: 50%;
  }

  @for $i from 1 through $count {
    .preloader div:nth-child(#{$i}) {
      transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
      animation: rotateCircle + $i $time + s infinite linear;
      z-index: $count - $i;
    }
    @keyframes rotateCircle#{$i} {
      #{percentage(((50 / $count) * ($i - 1)) / 100)} {
        opacity: 0;
      }
      #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
        opacity: 1;
        transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
      }
      #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      100% {
        transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
        opacity: 1;
      }
    }
  }
}


a {
  color: $gold;

  &:hover {
    color: darken($gold, 10%);
  }

  &:active {
    color: darken($gold, 10%);
  }
}

.togglebutton label input[type=checkbox]:checked + .toggle {
  background-color: $gold;

  &:after {
    border-color: $gold;
  }

  & + #label {
    color: #4a4a4a;
  }
}

.badges {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;

  .badge {
    position: static !important;
  }
}

.badge-light span {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
  background-color: $red;

  &.available {
    background-color: $green;
  }
}

.footer {
  width: 100%;

  strong {
    line-height: 44px;
    padding: 15px 0 15px;
  }

  .copyright {
    float: right;
    line-height: 44px;
    padding-right: 0;
  }
}

.btn.btn-primary.btn-link, .btn.btn-primary.btn-link:active, .btn.btn-primary.btn-link:focus, .btn.btn-primary.btn-link:hover {
  color: #FFF;
}

.form-check .form-check-input:checked + .form-check-sign .check {
  background-color: $gold;
}

.croppie-container {
  .cr-boundary {
    border-radius: 4px;
  }
}

#preview-img {
  img {
    width: 100%;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);

    &.profile-img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
    }
  }
}

label {
  color: #535353;
}

.label {
  border-radius: 12px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 0;

  &.label-default {
    background-color: $gold;
  }

  &.label-inv {
    background-color: white;
    color: $gold;
  }
}

.form-check .form-check-input:checked ~ .circle {
  border-color: $gold;
}

.form-check .form-check-label .circle .check {
  background-color: $gold;
}

.form-check .form-check-label {
  padding-left: 25px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
  max-width: 220px;
}

.login-page .container {
  padding-top: 70px !important;
}

@media screen and (max-width: 767px) {
  .login-page .container {
    padding-top: unset !important;
  }
}

.text-primary {
  color: $gold !important;
}

.btn.btn-primary {
  background: $gold !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px #d2983663 !important;

  &.btn-link {
    box-shadow: none !important;
    color: $gold !important;
  }
}

.bootstrap-datetimepicker-widget table td.active:hover > div,
.bootstrap-datetimepicker-widget table td.active > div {
  background-color: $gold !important;
  color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px #d2983663 !important;
}

.bootstrap-datetimepicker-widget table td.today > div:before {
  border-bottom-color: $gold;
  right: 9px;
  bottom: 2px;
}

#optionsMenu {
  margin-top: 10px;
}

.dropdown-menu {
  .dropdown-item {
    &.active {
      background: $gold;
    }

    &:focus, &:hover {
      background: $gold !important;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px #d2983663 !important;
    }
  }
}

.search-icon {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 10px;
  color: #999;
}

.nav-pills {
  .nav-link {
    background-color: $gold;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px #d2983663 !important;
    color: #fff !important;
    font-size: 10px !important;
    transition: all .2s ease;

    &:hover, &.active {
      background-color: darken($gold, 5%) !important;
      cursor: pointer;
    }

    &.active {
      background-color: darken($gold, 5%) !important;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px #d2983663 !important;
    }
  }
}

.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover {
  background-color: $gold;
  border-color: $gold;
  color: #fff;
  box-shadow: 0 4px 5px 0 rgb(210 152 54 / 14%), 0 1px 10px 0 rgb(210 152 54 / 12%), 0 2px 4px -1px rgb(210 152 54 / 20%);
}

.sidebar[data-color=azure] li.active > a {
  background-color: $gold;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px #d4d4d463 !important;
}

.no_coupons {
  width: 120px;
  margin: 0 auto;
  clear: both;
}

.form-control {
  background-image: linear-gradient(0deg, #d2d2d2 2px, rgba(244, 67, 54, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0)
}

.is-focused .form-control {
  background-image: linear-gradient(0deg, #d29836 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d29836 1px, hsla(0, 0%, 82%, 0) 0);
}

.card-container {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #eee;
  border-radius: .25rem;
  font-size: .875rem;

  > .card-header {
    border-radius: 3px;
    padding: 15px;
    background-color: $gold;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px #d2983663 !important;
    margin: -20px 15px 0 15px;
    position: relative;
    color: #FFF;
    border-bottom: none;

    .card-title {
      color: #FFF;
      margin-bottom: 3px;
    }

    .card-category {
      color: hsla(0, 0%, 100%, .8);
      margin: 0;
    }
  }
}

.show {
  .content {
    min-height: calc(100vh - 195px);
  }

  .coupon-img {
    img {
      border: 0;
      margin-bottom: 30px;
      margin-top: 30px;
      border-radius: 6px;
      color: #333;
      background: #fff;
      width: 100%;
      object-fit: cover;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-clip: border-box;
      border: 1px solid #eee;
      border-radius: .25rem;
      font-size: .875rem;
    }
  }

  .card-container {
    .card-header {
      .label {
        font-size: 10px;

        i {
          font-size: 14px;
          position: relative;
          top: 3px;
          margin-right: 3px;
        }
      }
    }

    .card-body {
      img {
        width: 100%;
        border-radius: 6px;
        pointer-events: none;
        box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
      }

      .info-coupon {
        color: #999;

        h3 {
          color: $gold;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .footer {
      nav > ul li:first-child {
        width: 100%;
      }

      .copyright {
        float: none;
      }
    }
  }
}

.main-panel > .content {
  min-height: calc(100vh - 70px);
}

.logo {
  img {
    width: 35px;
    vertical-align: top;
    margin-right: 5px;
  }
}

.coupon_create {
  .card-body {
    .row {
      min-height: 70px;
    }
  }
}

.filter {
  .hotels label {
    img {
      width: 30px;
      margin-right: 20px;
    }
  }

  form {
    margin-bottom: 0;
  }
}

.opInput {
  width: 90%;
}

.updateOpVal {
  padding: 7px 0;
  cursor: pointer;
}

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
  position: relative;
  left: 44%;
  padding: 20px;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
  colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

.sidebar {
  &:before {
    background-color: #FFF;
  }

  .sidebar-wrapper {
    .photo {
      img {
        height: 100%;
      }
    }

    .user-info {
      a, i.material-icons {
        color: #555;
      }
    }

    .dd {
      i {
        margin-top: 5px;
      }

      hr {
        margin: 10px 16px 0 16px;
      }
    }
  }
}


.card {
  > .card-header, .btn.btn-primary.btn-round, button.btn.btn-primary, .btn.btn-primary {
    background: $gold !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px #d2983663 !important;

    &.card-header-image {
      box-shadow: none !important;

      a {
        display: block;
        height: 100%;
        width: 100%;
      }

      .badge {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: #FFF;
        color: #535353;
      }
    }
  }

  .card-description {
    p {
      margin-bottom: 0;
    }
  }

  .card-body {
    .bootstrap-select {
      .dropdown-item {
        &.active {
          background: $gold;
        }
      }
    }
  }

  .col-form-label {
    min-width: 100px;
  }
}

.cards_mobile {
  @media screen and (max-width: 480px) {
    .content {
      padding: 0 10px;

      .container-fluid > .row > .col-md-12 {
        padding: 0;

        > form > .card, .card-container {
          background: transparent;
          box-shadow: none;
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    margin-top: 80px;
  }

  .modal-title {
    font-size: 20px;
    font-weight: bold;
  }

  .user {
    .photo {
      width: 45px;
      height: 45px;
      overflow: hidden;
      z-index: 5;
      border-radius: 50%;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
      display: inline-block;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .user-info {
      h4 {
        font-size: 20px;
        font-weight: bold;
        color: #3c4858;
        margin-bottom: 0;
        line-height: 20px;
      }

      small {
        color: #999999;
      }

      display: inline-block;
    }
  }

  .info-box {
    h4 {
      font-size: 18px;
      margin-bottom: 0;
      font-weight: normal;
    }

    p, a {
      display: block;
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
    .table-responsive td {
      font-size:13px!important;
      span {
        display: inline-block;
        line-height: 24px;
      }
    }
}

#cards-accordion {
  .btn {
    a {
      color: #FFFFFF;
    }
  }

  .card {
    .card-header {
      border-radius: calc(.25rem - 1px);
      background: #FFFFFF !important;
      box-shadow: none !important;
      border-bottom: 1px solid #ececec;

      .arrow_drop_down {
        transition: all .3s ease-in-out;
      }

      &.open .arrow_drop_down {
        transform: rotate(180deg);
      }
    }

    h5 a {
      display: block;
      color: $gold;

      &.btn-danger {
        color: $red;
      }

      strong, span {
        color: #3c4858;
      }
    }

    .movements-details {
      h4 {
        color: #3c4858;
      }

      small {
        color: #999999;
      }
    }
  }
}

.customer-search {
  display: flex;
  height: 36px;
  border-radius: 20px;
  padding-right: 7px;
  background-color: #ffffff !important;
  width: 183px;
  float: right;
  @media screen and (max-width: 576px) {
    margin: 0 auto;
    float: none;
  }

  input {
    width: 150px;
    background-color: #ffffff !important;
    background-image: none !important;
    padding: 7px 0 7px 13px;
    transition: width .2s ease-in-out;
    border-radius: 20px !important;
    margin-right: 6px;
  }

  i {
    color: #999999;
    font-size: 20px;
    line-height: 1.8;
  }
}

.movement-up {
  color: $green;
}

.movement-down {
  color: $red;
}

.swal2-select {
  display: none !important;
}

.wrapper.customer {
  color: #535353;
  overflow-x: hidden;
  position: static;
  min-height: calc(100vh - 150px);
  height: auto;

  .shadow {
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  }

  .main-panel {
    width: 100%;

    @media screen and (min-width: 576px) {
      .container {
        max-width: 720px;
      }
    }
    @media screen and (min-width: 991px) {
      .container {
        max-width: 1140px;
      }
    }

    .navbar {
      .navbar-brand {
        padding: 5px 0;
        line-height: 45px;
        height: auto;

        img {
          height: 60px;
          width: auto;
        }
      }
    }

    section {
      margin-bottom: 50px;

      .heading {
        margin-bottom: 20px;

        h3 {
          font-size: 30px;
          font-weight: 500;
          color: #535353;
          display: block;
          width: 100%;
        }

        @media screen and (min-width: 576px) {
          h3 {
            display: inline-block;
            width: auto;
          }
        }
      }
    }

    .user-points {
      display: block;
      width: fit-content;
      width: -moz-fit-content;
      background-color: #FFF;
      margin: 0 auto;

      i {
        vertical-align: middle;
        color: $yellow-700;
      }

      p {
        vertical-align: middle;
        margin-bottom: 0;
        color: #535353;

        strong {
          font-weight: bold;
        }
      }

      @media screen and (min-width: 576px) {
        display: inline-block;
        width: auto;
        margin: auto 0 auto auto;
      }
    }

    .profile-info {
      display: block;
      @media screen and (min-width: 576px) {
        display: inline-block;
      }

      .profile-photo {
        display: block;
        margin: 0 auto 20px;
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        vertical-align: middle;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        @media screen and (min-width: 576px) {
          width: 70px;
          height: 70px;
          display: inline-block;
          margin: 0 20px 0 0;
        }
      }

      .profile-name {
        display: block;
        vertical-align: middle;
        width: 100%;
        text-align: center;

        h3 {
          margin: 0;
          line-height: 30px;
          color: #535353;
        }

        h2 {
          margin: 0;
          font-weight: bold;
          line-height: 30px;
          color: #535353;
        }

        @media screen and (min-width: 576px) {
          display: inline-block;
          width: auto;
          text-align: left;

          h2 {
            line-height: 34px;
          }
        }
      }

      &.nav-profile {
        display: inline-block !important;
        margin-left: auto;

        .profile-name {
          display: none;

          h2 {
            font-size: 1rem;
          }

          @media screen and (min-width: 576px) {
            display: inline-block;
          }
        }

        .profile-photo {
          display: inline-block !important;
          width: 40px;
          height: 40px;
          margin-bottom: 0;
        }

        .user-points {
          display: inline-block !important;
        }
      }
    }

    #movements {
      .movements-heading {
        a {
          color: #535353;
        }
      }
    }

    .movements-list {
      padding-left: 0;
      list-style-type: none;

      .movements-item {
        background-color: #FFF;
        margin-bottom: 20px;

        a {
          color: #535353;
        }

        .movements-item-meta {
          i, span {
            vertical-align: middle;
          }

          span {
            text-transform: uppercase;
          }
        }
      }
    }

    #premi {
      .swiper-container {
        overflow: visible;

        .swiper-slide {
          width: 300px;
          margin-left: 0;
          margin-right: 1rem;
          height: auto;

          &:last-child {
            margin-right: 0;
          }

          .card-product {
            margin-top: 0;
            margin-bottom: 0;
            height: 100%;
          }

          .card-header {
            .badge {
              position: absolute;
              top: 20px;
              left: 20px;
              background-color: #FFF;
              color: #535353;
            }

            &.card-header-image {
              margin: 0 !important;

              img {
                box-shadow: none !important;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
              }
            }
          }

          @media screen and (min-width: 768px) {
            width: 300px;
            margin-right: 3.2rem;
          }
        }
      }
    }

  }
}

.content.admin {
  padding:0 30px;
  .profile-name {
    h2 {
      font-weight: bold;
    }
  }
  .customer-search {
    width: 275px;
    input {
      width:237px;
    }
  }
  .card-header {
    background-color: transparent !important;
    box-shadow: none !important;

    .card-icon {
      background: #d29836 !important;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
    }
  }
  .card-chart .card-header {
    background: #d29836 !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
  }
}

@import 'frontend';