@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

.loader {
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #eee;
}

.loader .holder img {
  width: 75px;
}

.loader.loading {
  opacity: 1;
  visibility: visible;
}

.loader .preloader {
  /* size */
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: rotatePreloader 2s infinite ease-in;
          animation: rotatePreloader 2s infinite ease-in;
}

@-webkit-keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

.loader .preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.loader .preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 6%;
  height: 6%;
  background-color: #d29836;
  transform: translateX(-50%);
  border-radius: 50%;
}

.loader .preloader div:nth-child(1) {
  transform: rotateZ(0deg);
  -webkit-animation: rotateCircle1 2s infinite linear;
          animation: rotateCircle1 2s infinite linear;
  z-index: 9;
}

@-webkit-keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }

  0% {
    opacity: 1;
    transform: rotateZ(36deg);
  }

  7% {
    transform: rotateZ(0deg);
  }

  57% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }

  0% {
    opacity: 1;
    transform: rotateZ(36deg);
  }

  7% {
    transform: rotateZ(0deg);
  }

  57% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.loader .preloader div:nth-child(2) {
  transform: rotateZ(36deg);
  -webkit-animation: rotateCircle2 2s infinite linear;
          animation: rotateCircle2 2s infinite linear;
  z-index: 8;
}

@-webkit-keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }

  5.0001% {
    opacity: 1;
    transform: rotateZ(0deg);
  }

  12% {
    transform: rotateZ(-36deg);
  }

  62% {
    transform: rotateZ(-36deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }

  5.0001% {
    opacity: 1;
    transform: rotateZ(0deg);
  }

  12% {
    transform: rotateZ(-36deg);
  }

  62% {
    transform: rotateZ(-36deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.loader .preloader div:nth-child(3) {
  transform: rotateZ(72deg);
  -webkit-animation: rotateCircle3 2s infinite linear;
          animation: rotateCircle3 2s infinite linear;
  z-index: 7;
}

@-webkit-keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }

  10.0002% {
    opacity: 1;
    transform: rotateZ(-36deg);
  }

  17% {
    transform: rotateZ(-72deg);
  }

  67% {
    transform: rotateZ(-72deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }

  10.0002% {
    opacity: 1;
    transform: rotateZ(-36deg);
  }

  17% {
    transform: rotateZ(-72deg);
  }

  67% {
    transform: rotateZ(-72deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.loader .preloader div:nth-child(4) {
  transform: rotateZ(108deg);
  -webkit-animation: rotateCircle4 2s infinite linear;
          animation: rotateCircle4 2s infinite linear;
  z-index: 6;
}

@-webkit-keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }

  15.0003% {
    opacity: 1;
    transform: rotateZ(-72deg);
  }

  22% {
    transform: rotateZ(-108deg);
  }

  72% {
    transform: rotateZ(-108deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }

  15.0003% {
    opacity: 1;
    transform: rotateZ(-72deg);
  }

  22% {
    transform: rotateZ(-108deg);
  }

  72% {
    transform: rotateZ(-108deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.loader .preloader div:nth-child(5) {
  transform: rotateZ(144deg);
  -webkit-animation: rotateCircle5 2s infinite linear;
          animation: rotateCircle5 2s infinite linear;
  z-index: 5;
}

@-webkit-keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }

  20.0004% {
    opacity: 1;
    transform: rotateZ(-108deg);
  }

  27% {
    transform: rotateZ(-144deg);
  }

  77% {
    transform: rotateZ(-144deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }

  20.0004% {
    opacity: 1;
    transform: rotateZ(-108deg);
  }

  27% {
    transform: rotateZ(-144deg);
  }

  77% {
    transform: rotateZ(-144deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.loader .preloader div:nth-child(6) {
  transform: rotateZ(180deg);
  -webkit-animation: rotateCircle6 2s infinite linear;
          animation: rotateCircle6 2s infinite linear;
  z-index: 4;
}

@-webkit-keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }

  25.0005% {
    opacity: 1;
    transform: rotateZ(-144deg);
  }

  32% {
    transform: rotateZ(-180deg);
  }

  82% {
    transform: rotateZ(-180deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }

  25.0005% {
    opacity: 1;
    transform: rotateZ(-144deg);
  }

  32% {
    transform: rotateZ(-180deg);
  }

  82% {
    transform: rotateZ(-180deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.loader .preloader div:nth-child(7) {
  transform: rotateZ(216deg);
  -webkit-animation: rotateCircle7 2s infinite linear;
          animation: rotateCircle7 2s infinite linear;
  z-index: 3;
}

@-webkit-keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }

  30.0006% {
    opacity: 1;
    transform: rotateZ(-180deg);
  }

  37% {
    transform: rotateZ(-216deg);
  }

  87% {
    transform: rotateZ(-216deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }

  30.0006% {
    opacity: 1;
    transform: rotateZ(-180deg);
  }

  37% {
    transform: rotateZ(-216deg);
  }

  87% {
    transform: rotateZ(-216deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.loader .preloader div:nth-child(8) {
  transform: rotateZ(252deg);
  -webkit-animation: rotateCircle8 2s infinite linear;
          animation: rotateCircle8 2s infinite linear;
  z-index: 2;
}

@-webkit-keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }

  35.0007% {
    opacity: 1;
    transform: rotateZ(-216deg);
  }

  42% {
    transform: rotateZ(-252deg);
  }

  92% {
    transform: rotateZ(-252deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }

  35.0007% {
    opacity: 1;
    transform: rotateZ(-216deg);
  }

  42% {
    transform: rotateZ(-252deg);
  }

  92% {
    transform: rotateZ(-252deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.loader .preloader div:nth-child(9) {
  transform: rotateZ(288deg);
  -webkit-animation: rotateCircle9 2s infinite linear;
          animation: rotateCircle9 2s infinite linear;
  z-index: 1;
}

@-webkit-keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }

  40.0008% {
    opacity: 1;
    transform: rotateZ(-252deg);
  }

  47% {
    transform: rotateZ(-288deg);
  }

  97% {
    transform: rotateZ(-288deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }

  40.0008% {
    opacity: 1;
    transform: rotateZ(-252deg);
  }

  47% {
    transform: rotateZ(-288deg);
  }

  97% {
    transform: rotateZ(-288deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.loader .preloader div:nth-child(10) {
  transform: rotateZ(324deg);
  -webkit-animation: rotateCircle10 2s infinite linear;
          animation: rotateCircle10 2s infinite linear;
  z-index: 0;
}

@-webkit-keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }

  45.0009% {
    opacity: 1;
    transform: rotateZ(-288deg);
  }

  52% {
    transform: rotateZ(-324deg);
  }

  102% {
    transform: rotateZ(-324deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }

  45.0009% {
    opacity: 1;
    transform: rotateZ(-288deg);
  }

  52% {
    transform: rotateZ(-324deg);
  }

  102% {
    transform: rotateZ(-324deg);
  }

  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

a {
  color: #d29836;
}

a:hover {
  color: #ae7c27;
}

a:active {
  color: #ae7c27;
}

.togglebutton label input[type=checkbox]:checked + .toggle {
  background-color: #d29836;
}

.togglebutton label input[type=checkbox]:checked + .toggle:after {
  border-color: #d29836;
}

.togglebutton label input[type=checkbox]:checked + .toggle + #label {
  color: #4a4a4a;
}

.badges {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
}

.badges .badge {
  position: static !important;
}

.badge-light span {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
  background-color: #e3342f;
}

.badge-light span.available {
  background-color: #38c172;
}

.footer {
  width: 100%;
}

.footer strong {
  line-height: 44px;
  padding: 15px 0 15px;
}

.footer .copyright {
  float: right;
  line-height: 44px;
  padding-right: 0;
}

.btn.btn-primary.btn-link,
.btn.btn-primary.btn-link:active,
.btn.btn-primary.btn-link:focus,
.btn.btn-primary.btn-link:hover {
  color: #FFF;
}

.form-check .form-check-input:checked + .form-check-sign .check {
  background-color: #d29836;
}

.croppie-container .cr-boundary {
  border-radius: 4px;
}

#preview-img img {
  width: 100%;
  border-radius: 6px;
  pointer-events: none;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#preview-img img.profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

label {
  color: #535353;
}

.label {
  border-radius: 12px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 0;
}

.label.label-default {
  background-color: #d29836;
}

.label.label-inv {
  background-color: white;
  color: #d29836;
}

.form-check .form-check-input:checked ~ .circle {
  border-color: #d29836;
}

.form-check .form-check-label .circle .check {
  background-color: #d29836;
}

.form-check .form-check-label {
  padding-left: 25px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
  max-width: 220px;
}

.login-page .container {
  padding-top: 70px !important;
}

@media screen and (max-width: 767px) {
  .login-page .container {
    padding-top: unset !important;
  }
}

.text-primary {
  color: #d29836 !important;
}

.btn.btn-primary {
  background: #d29836 !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
}

.btn.btn-primary.btn-link {
  box-shadow: none !important;
  color: #d29836 !important;
}

.bootstrap-datetimepicker-widget table td.active:hover > div,
.bootstrap-datetimepicker-widget table td.active > div {
  background-color: #d29836 !important;
  color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
}

.bootstrap-datetimepicker-widget table td.today > div:before {
  border-bottom-color: #d29836;
  right: 9px;
  bottom: 2px;
}

#optionsMenu {
  margin-top: 10px;
}

.dropdown-menu .dropdown-item.active {
  background: #d29836;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
  background: #d29836 !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
}

.search-icon {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 10px;
  color: #999;
}

.nav-pills .nav-link {
  background-color: #d29836;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
  color: #fff !important;
  font-size: 10px !important;
  transition: all 0.2s ease;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active {
  background-color: #c38b2c !important;
  cursor: pointer;
}

.nav-pills .nav-link.active {
  background-color: #c38b2c !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
}

.pagination > .page-item.active > a,
.pagination > .page-item.active > a:focus,
.pagination > .page-item.active > a:hover,
.pagination > .page-item.active > span,
.pagination > .page-item.active > span:focus,
.pagination > .page-item.active > span:hover {
  background-color: #d29836;
  border-color: #d29836;
  color: #fff;
  box-shadow: 0 4px 5px 0 rgba(210, 152, 54, 0.14), 0 1px 10px 0 rgba(210, 152, 54, 0.12), 0 2px 4px -1px rgba(210, 152, 54, 0.2);
}

.sidebar[data-color=azure] li.active > a {
  background-color: #d29836;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d4d4d463 !important;
}

.no_coupons {
  width: 120px;
  margin: 0 auto;
  clear: both;
}

.form-control {
  background-image: linear-gradient(0deg, #d2d2d2 2px, rgba(244, 67, 54, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0);
}

.is-focused .form-control {
  background-image: linear-gradient(0deg, #d29836 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d29836 1px, rgba(209, 209, 209, 0) 0);
}

.card-container {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.card-container > .card-header {
  border-radius: 3px;
  padding: 15px;
  background-color: #d29836;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
  margin: -20px 15px 0 15px;
  position: relative;
  color: #FFF;
  border-bottom: none;
}

.card-container > .card-header .card-title {
  color: #FFF;
  margin-bottom: 3px;
}

.card-container > .card-header .card-category {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.show .content {
  min-height: calc(100vh - 195px);
}

.show .coupon-img img {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.show .card-container .card-header .label {
  font-size: 10px;
}

.show .card-container .card-header .label i {
  font-size: 14px;
  position: relative;
  top: 3px;
  margin-right: 3px;
}

.show .card-container .card-body img {
  width: 100%;
  border-radius: 6px;
  pointer-events: none;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.show .card-container .card-body .info-coupon {
  color: #999;
}

.show .card-container .card-body .info-coupon h3 {
  color: #d29836;
}

@media screen and (max-width: 480px) {
  .show .footer nav > ul li:first-child {
    width: 100%;
  }

  .show .footer .copyright {
    float: none;
  }
}

.main-panel > .content {
  min-height: calc(100vh - 70px);
}

.logo img {
  width: 35px;
  vertical-align: top;
  margin-right: 5px;
}

.coupon_create .card-body .row {
  min-height: 70px;
}

.filter .hotels label img {
  width: 30px;
  margin-right: 20px;
}

.filter form {
  margin-bottom: 0;
}

.opInput {
  width: 90%;
}

.updateOpVal {
  padding: 7px 0;
  cursor: pointer;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
  position: relative;
  left: 44%;
  padding: 20px;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }

  25% {
    stroke: #DE3E35;
  }

  50% {
    stroke: #F7C223;
  }

  75% {
    stroke: #1B9A59;
  }

  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }

  25% {
    stroke: #DE3E35;
  }

  50% {
    stroke: #F7C223;
  }

  75% {
    stroke: #1B9A59;
  }

  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.sidebar:before {
  background-color: #FFF;
}

.sidebar .sidebar-wrapper .photo img {
  height: 100%;
}

.sidebar .sidebar-wrapper .user-info a,
.sidebar .sidebar-wrapper .user-info i.material-icons {
  color: #555;
}

.sidebar .sidebar-wrapper .dd i {
  margin-top: 5px;
}

.sidebar .sidebar-wrapper .dd hr {
  margin: 10px 16px 0 16px;
}

.card > .card-header,
.card .btn.btn-primary.btn-round,
.card button.btn.btn-primary,
.card .btn.btn-primary {
  background: #d29836 !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
}

.card > .card-header.card-header-image,
.card .btn.btn-primary.btn-round.card-header-image,
.card button.btn.btn-primary.card-header-image,
.card .btn.btn-primary.card-header-image {
  box-shadow: none !important;
}

.card > .card-header.card-header-image a,
.card .btn.btn-primary.btn-round.card-header-image a,
.card button.btn.btn-primary.card-header-image a,
.card .btn.btn-primary.card-header-image a {
  display: block;
  height: 100%;
  width: 100%;
}

.card > .card-header.card-header-image .badge,
.card .btn.btn-primary.btn-round.card-header-image .badge,
.card button.btn.btn-primary.card-header-image .badge,
.card .btn.btn-primary.card-header-image .badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #FFF;
  color: #535353;
}

.card .card-description p {
  margin-bottom: 0;
}

.card .card-body .bootstrap-select .dropdown-item.active {
  background: #d29836;
}

.card .col-form-label {
  min-width: 100px;
}

@media screen and (max-width: 480px) {
  .cards_mobile .content {
    padding: 0 10px;
  }

  .cards_mobile .content .container-fluid > .row > .col-md-12 {
    padding: 0;
  }

  .cards_mobile .content .container-fluid > .row > .col-md-12 > form > .card,
  .cards_mobile .content .container-fluid > .row > .col-md-12 .card-container {
    background: transparent;
    box-shadow: none;
  }
}

.modal .modal-dialog {
  margin-top: 80px;
}

.modal .modal-title {
  font-size: 20px;
  font-weight: bold;
}

.modal .user .photo {
  width: 45px;
  height: 45px;
  overflow: hidden;
  z-index: 5;
  border-radius: 50%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.modal .user .photo img {
  width: 100%;
  height: 100%;
}

.modal .user .user-info {
  display: inline-block;
}

.modal .user .user-info h4 {
  font-size: 20px;
  font-weight: bold;
  color: #3c4858;
  margin-bottom: 0;
  line-height: 20px;
}

.modal .user .user-info small {
  color: #999999;
}

.modal .info-box h4 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: normal;
}

.modal .info-box p,
.modal .info-box a {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

.modal .table-responsive td {
  font-size: 13px !important;
}

.modal .table-responsive td span {
  display: inline-block;
  line-height: 24px;
}

#cards-accordion .btn a {
  color: #FFFFFF;
}

#cards-accordion .card .card-header {
  border-radius: calc(.25rem - 1px);
  background: #FFFFFF !important;
  box-shadow: none !important;
  border-bottom: 1px solid #ececec;
}

#cards-accordion .card .card-header .arrow_drop_down {
  transition: all 0.3s ease-in-out;
}

#cards-accordion .card .card-header.open .arrow_drop_down {
  transform: rotate(180deg);
}

#cards-accordion .card h5 a {
  display: block;
  color: #d29836;
}

#cards-accordion .card h5 a.btn-danger {
  color: #e3342f;
}

#cards-accordion .card h5 a strong,
#cards-accordion .card h5 a span {
  color: #3c4858;
}

#cards-accordion .card .movements-details h4 {
  color: #3c4858;
}

#cards-accordion .card .movements-details small {
  color: #999999;
}

.customer-search {
  display: flex;
  height: 36px;
  border-radius: 20px;
  padding-right: 7px;
  background-color: #ffffff !important;
  width: 183px;
  float: right;
}

@media screen and (max-width: 576px) {
  .customer-search {
    margin: 0 auto;
    float: none;
  }
}

.customer-search input {
  width: 150px;
  background-color: #ffffff !important;
  background-image: none !important;
  padding: 7px 0 7px 13px;
  transition: width 0.2s ease-in-out;
  border-radius: 20px !important;
  margin-right: 6px;
}

.customer-search i {
  color: #999999;
  font-size: 20px;
  line-height: 1.8;
}

.movement-up {
  color: #38c172;
}

.movement-down {
  color: #e3342f;
}

.swal2-select {
  display: none !important;
}

.wrapper.customer {
  color: #535353;
  overflow-x: hidden;
  position: static;
  min-height: calc(100vh - 150px);
  height: auto;
}

.wrapper.customer .shadow {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
}

.wrapper.customer .main-panel {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .wrapper.customer .main-panel .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 991px) {
  .wrapper.customer .main-panel .container {
    max-width: 1140px;
  }
}

.wrapper.customer .main-panel .navbar .navbar-brand {
  padding: 5px 0;
  line-height: 45px;
  height: auto;
}

.wrapper.customer .main-panel .navbar .navbar-brand img {
  height: 60px;
  width: auto;
}

.wrapper.customer .main-panel section {
  margin-bottom: 50px;
}

.wrapper.customer .main-panel section .heading {
  margin-bottom: 20px;
}

.wrapper.customer .main-panel section .heading h3 {
  font-size: 30px;
  font-weight: 500;
  color: #535353;
  display: block;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .wrapper.customer .main-panel section .heading h3 {
    display: inline-block;
    width: auto;
  }
}

.wrapper.customer .main-panel .user-points {
  display: block;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  background-color: #FFF;
  margin: 0 auto;
}

.wrapper.customer .main-panel .user-points i {
  vertical-align: middle;
  color: #fbc02d;
}

.wrapper.customer .main-panel .user-points p {
  vertical-align: middle;
  margin-bottom: 0;
  color: #535353;
}

.wrapper.customer .main-panel .user-points p strong {
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .wrapper.customer .main-panel .user-points {
    display: inline-block;
    width: auto;
    margin: auto 0 auto auto;
  }
}

.wrapper.customer .main-panel .profile-info {
  display: block;
}

@media screen and (min-width: 576px) {
  .wrapper.customer .main-panel .profile-info {
    display: inline-block;
  }
}

.wrapper.customer .main-panel .profile-info .profile-photo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
}

.wrapper.customer .main-panel .profile-info .profile-photo:hover {
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .wrapper.customer .main-panel .profile-info .profile-photo {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 0 20px 0 0;
  }
}

.wrapper.customer .main-panel .profile-info .profile-name {
  display: block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.wrapper.customer .main-panel .profile-info .profile-name h3 {
  margin: 0;
  line-height: 30px;
  color: #535353;
}

.wrapper.customer .main-panel .profile-info .profile-name h2 {
  margin: 0;
  font-weight: bold;
  line-height: 30px;
  color: #535353;
}

@media screen and (min-width: 576px) {
  .wrapper.customer .main-panel .profile-info .profile-name {
    display: inline-block;
    width: auto;
    text-align: left;
  }

  .wrapper.customer .main-panel .profile-info .profile-name h2 {
    line-height: 34px;
  }
}

.wrapper.customer .main-panel .profile-info.nav-profile {
  display: inline-block !important;
  margin-left: auto;
}

.wrapper.customer .main-panel .profile-info.nav-profile .profile-name {
  display: none;
}

.wrapper.customer .main-panel .profile-info.nav-profile .profile-name h2 {
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  .wrapper.customer .main-panel .profile-info.nav-profile .profile-name {
    display: inline-block;
  }
}

.wrapper.customer .main-panel .profile-info.nav-profile .profile-photo {
  display: inline-block !important;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
}

.wrapper.customer .main-panel .profile-info.nav-profile .user-points {
  display: inline-block !important;
}

.wrapper.customer .main-panel #movements .movements-heading a {
  color: #535353;
}

.wrapper.customer .main-panel .movements-list {
  padding-left: 0;
  list-style-type: none;
}

.wrapper.customer .main-panel .movements-list .movements-item {
  background-color: #FFF;
  margin-bottom: 20px;
}

.wrapper.customer .main-panel .movements-list .movements-item a {
  color: #535353;
}

.wrapper.customer .main-panel .movements-list .movements-item .movements-item-meta i,
.wrapper.customer .main-panel .movements-list .movements-item .movements-item-meta span {
  vertical-align: middle;
}

.wrapper.customer .main-panel .movements-list .movements-item .movements-item-meta span {
  text-transform: uppercase;
}

.wrapper.customer .main-panel #premi .swiper-container {
  overflow: visible;
}

.wrapper.customer .main-panel #premi .swiper-container .swiper-slide {
  width: 300px;
  margin-left: 0;
  margin-right: 1rem;
  height: auto;
}

.wrapper.customer .main-panel #premi .swiper-container .swiper-slide:last-child {
  margin-right: 0;
}

.wrapper.customer .main-panel #premi .swiper-container .swiper-slide .card-product {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.wrapper.customer .main-panel #premi .swiper-container .swiper-slide .card-header .badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #FFF;
  color: #535353;
}

.wrapper.customer .main-panel #premi .swiper-container .swiper-slide .card-header.card-header-image {
  margin: 0 !important;
}

.wrapper.customer .main-panel #premi .swiper-container .swiper-slide .card-header.card-header-image img {
  box-shadow: none !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 768px) {
  .wrapper.customer .main-panel #premi .swiper-container .swiper-slide {
    width: 300px;
    margin-right: 3.2rem;
  }
}

.content.admin {
  padding: 0 30px;
}

.content.admin .profile-name h2 {
  font-weight: bold;
}

.content.admin .customer-search {
  width: 275px;
}

.content.admin .customer-search input {
  width: 237px;
}

.content.admin .card-header {
  background-color: transparent !important;
  box-shadow: none !important;
}

.content.admin .card-header .card-icon {
  background: #d29836 !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
}

.content.admin .card-chart .card-header {
  background: #d29836 !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #d2983663 !important;
}

.frontend-single-heading {
  margin-bottom: 50px;
}

.frontend-single-heading h3 {
  font-size: 30px;
  font-weight: 500;
  color: #535353;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.frontend-single-heading h3 a {
  vertical-align: middle;
  margin-right: 20px;
}

.frontend-single-heading h3 span {
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  .frontend-single-heading h3 {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }
}

.coupon-badges .label {
  font-size: 13px;
  background-color: #d29836;
  color: #FFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-flex;
  border-radius: 15px;
  line-height: 17px;
}

.coupon-badges .label i {
  font-size: 15px;
  vertical-align: text-top;
  margin-right: 10px;
  margin-top: 1px;
}

.coupon-badges .label span {
  vertical-align: middle;
}

@media screen and (max-width: 991px) {
  .coupon-badges {
    display: block;
    width: 100%;
  }
}

.frontend .description,
.frontend .deadline {
  color: #4a4a4a;
}

.frontend .description h3,
.frontend .deadline h3 {
  color: #d29836;
}

.frontend .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.frontend .btn:hover {
  background-color: #996d22;
}

.swal2-popup .swal2-styled.swal2-cancel:focus {
  box-shadow: none;
}

#prizeRequestModal .modal-title {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

#prizeRequestModal .prize-points {
  text-align: center;
}

#prizeRequestModal .prize-points #prizeValue {
  font-size: 60px;
  display: block;
  margin-bottom: 15px;
  line-height: 45px;
  font-weight: bold;
}

#prizeRequestModal #goBackToCards {
  display: none;
}

#prizeRequestModal #goBackToCards button {
  background-color: #fafafa;
  color: #4a4a4a;
}

#prizeRequestModal #goBackToCards button:hover {
  background-color: #d6d6d6;
}

#prizeRequestModal .cards-container {
  min-height: 255px;
}

#prizeRequestModal .cards-wrapper {
  position: relative;
}

#prizeRequestModal .cards-wrapper .card-box-wrapper {
  transition: all 0.3s ease-in-out;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper {
  display: none;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box .card-info {
  margin-bottom: 20px;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box .card-info i {
  font-size: 26px;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box .card-info #card-number {
  font-size: 18px;
  font-weight: bold;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box .card-info #card-points {
  font-size: 16px;
  font-weight: bold;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box .form-group .form-control {
  font-size: 16px;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box .form-group .has-danger.excedeed::before {
  content: "Importo superiore alla disponibilit\E0   su questa card";
  top: -5px;
  left: 0;
  right: 0;
  position: absolute;
  color: #e3342f;
  font-size: 14px;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box .form-group .has-danger.excedeed-prize-value::before {
  content: "Importo superiore al valore del premio";
  top: -5px;
  left: 0;
  right: 0;
  position: absolute;
  color: #e3342f;
  font-size: 14px;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box .form-group .has-danger.zero::before {
  content: "L'importo deve essere maggiore di 0";
  top: -5px;
  left: 0;
  right: 0;
  position: absolute;
  color: #e3342f;
  font-size: 14px;
}

#prizeRequestModal .cards-wrapper .card-action-box-wrapper .card-action-box .btn {
  font-size: 16px;
}

#prizeRequestModal .card-box {
  background-color: #fafafa;
  text-align: center;
  padding: 20px;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#prizeRequestModal .card-box:hover {
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.2);
}

#prizeRequestModal .card-box i {
  font-size: 45px;
}

#prizeRequestModal .card-box span {
  font-size: 18px;
  display: block;
  font-weight: bold;
}

#prizeRequestModal .card-box small {
  font-size: 16px;
}

#prizeRequestModal .card-box.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#prizeRequestModal .btn-modal {
  background-color: #fafafa;
  color: #4a4a4a;
}

#prizeRequestModal .btn-modal:hover {
  background-color: #d6d6d6;
}

.premi-slider .swiper-wrapper {
  height: auto;
}

.premi-slider .arrows {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
}

.premi-slider .arrows span {
  background-color: #FFF;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.premi-slider .arrows span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
}

.customer-movements .pagination {
  justify-content: center;
}

.frontend.show .swal2-popup .swal2-styled.swal2-cancel {
  border-radius: 9999px;
}

.frontend.show .swal2-popup .swal2-content .btn-link {
  color: #d29836;
}

.frontend.show .swal2-popup .swal2-content .btn-link:hover {
  color: #ae7c27;
}

